





main{
position: relative;
bottom: 5px;
background:linear-gradient(to bottom,rgb(255, 255, 255) 50%, #fff 50%);
padding: 0%;
}





/*ipad pro 11*/

.IpadTitle {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.I-box h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.IpadCover{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.I-box{
    width: 30%;
    height: 30%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(0,0 ,0 ,0.25 ), 0 10px 10px rgb(0,0 ,0 ,0.22 );
    transition: .4s;
    background: #fff;
}

.I-box:hover{
    box-shadow: 0 3px 6px rgba(193, 168, 168, 0.16) , 0 3px 6px rgba(124, 115, 115, 0.23);
    transform: translate(0 , -8px );
    }

.IpadCover a img{
        width: 250px;
        height: 250px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .IpadCover img{
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
.IpadCover p{
        text-align: center;
        color: #000;
        padding-top: 0 8px;
    }

.IpadCover h6 {
        font-size: 26px;
        text-align: center;
        color: #000;
        margin: 0;
    }

.IpadCover button{
        text-align: center;
        font-size: 24px;
        color:#fff;
        width: 100%;
        padding: 15px;
        border: 0 ;
        outline: none;
        cursor: pointer;
        margin-top: 5px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
.add {
        background: #363636;;
    }
   


.filter {

    
     width: 15%;
        height: 1000%;
        margin: 15px;
        margin-left: 80%;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 6px ;
font-size:14px;
        box-shadow: 0 14px 28px  rgb(255, 255, 255), 0px 5px 5px  rgb(103, 90, 61);
        transition: .4s;
        margin-top: 2%;
        color: black;
        font-weight: bold;
        
    }
    .filter :focus , .filter:hover {
    
    outline: none;
    border: 1px solid rgb(147, 125, 87);
    color:black;
    }
    
    .filter p{
        display: inline;
        
    }
    .IpadCover h6 {
        font-size: 14px;
        text-align: center;
        color: #000;
        margin: 0;
        color: #b87253;
    }

    .I-box p{
        text-align: center;
        color: #000;
        font-size: 13px;
        padding-top: 8px;
    }

    .I-box h3{
        text-align: center;
        font-size: 13px;
        margin: 0;
        padding-top: 10px;
        font-family: Portrait,Georgia,serif;
        text-transform: uppercase;
    }


  
    .IpadTitle {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    body .underline {
        height: 5px;
        max-width: 260px;
        background-color: rgb(38, 30, 17);
        /* margin: 5px 6rem  2rem; */
        margin:auto;
    }